.mighty-slideshow{
	width:298px;
	border:1px solid #eaeaea;
}
.mighty-slideshow .clearboth{
	clear: both;
	display: block;
}
.mighty-slideshow .mighty-slideshow-viewer{
	width:298px;
	overflow:hidden;
	position: relative;
}
.mighty-slideshow .mighty-slideshow-viewer-ul{
	-moz-transition: margin-left .5s ease;
	-webkit-transition: margin-left .5s ease;
	transition: margin-left .5s ease;
}
.mighty-slideshow .mighty-slideshow-viewer li{
	float:left;
	padding:3px;
}
.mighty-slideshow .mighty-slideshow-controls{
	width:298px;
	height:212px;
	position: absolute;
}
.mighty-slideshow .mighty-slideshow-controls-prev,
.mighty-slideshow .mighty-slideshow-controls-next{
	width:33px;
	height:54px;
	top:80px;
	position: absolute;
	text-indent: -10000px;
	background-color: rgb(0,0,0);
	cursor: pointer;
	opacity:.4;
	-moz-transition:opacity .2s ease;
	-webkit-transition:opacity .2s ease;
	transition:opacity .2s ease;
}
.mighty-slideshow .mighty-slideshow-controls-prev:hover,
.mighty-slideshow .mighty-slideshow-controls-next:hover{
	background-color: rgb(0,0,0);
	opacity:.6;
}
.mighty-slideshow .mighty-slideshow-controls-prev{
	left:8px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAdCAYAAABMr4eBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTlENjdDRjNDNEM5MTFFMEIxRkRGQURFMzRGM0ZCN0EiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTlENjdDRjRDNEM5MTFFMEIxRkRGQURFMzRGM0ZCN0EiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxOUQ2N0NGMUM0QzkxMUUwQjFGREZBREUzNEYzRkI3QSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxOUQ2N0NGMkM0QzkxMUUwQjFGREZBREUzNEYzRkI3QSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkE7qRkAAAC8SURBVHjapNXNCYRADAVgwSb2JNiBPezFSrx7swZhYTvYAuzCkyV4tQi9jhmWgIT5ycsMPAgjfEhmNJVzrjJmorx8bQW+7r92D5UAvD6lwEKpiwGkJ1FAiyQBDZIFcogKSCFqIIZAQAiBAYmsFuCJbFaAkbcATkqLfA5cjAI6KA2K+AyUywLJjd4ChTZhKPYAglKvqYZyTVNBmiPMQtoLFYJaFElC6N8+CFnmjoRm6wRk6FcyRn06rm8BBgBG9jC7mOIXBgAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: 7px 13px;
}
.mighty-slideshow .mighty-slideshow-controls-next{
	right:8px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAdCAYAAABMr4eBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QjQyQUQxOEFDMzkyMTFFMEIxRkRGQURFMzRGM0ZCN0EiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTlENjdDRjBDNEM5MTFFMEIxRkRGQURFMzRGM0ZCN0EiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCNDJBRDE4OEMzOTIxMUUwQjFGREZBREUzNEYzRkI3QSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCNDJBRDE4OUMzOTIxMUUwQjFGREZBREUzNEYzRkI3QSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pg/dLFoAAADOSURBVHjaYvj//z8DFBsgsUnCTAwQMB+IjwGxBwM5AGhS138E+AbEHqS6BEQoAvFDSgyCMSgyCJlDtkHoAnLkGIRNkGSDcEmQZBA+ZxJtEKFAI8ogYqKQoEHEJihsBqWRagg2g0CgECTHCDaJeKAIxFeAmAtJzIUUlzAD8Wo0l5wgxTvYDDhESphgM2ACKbFD0ABChhBlAD5DiDYAlyEkGYDNEJINQDeELAOQDSHbAJghFBkAM6SXEgNghkgA8Q1yDUAOE5BBFeTWxQABBgDLVsrPhTxnfAAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: 9px 13px;
}

.mighty-slideshow .more-slideshows{
	width:232px;
	float:left;
	overflow: hidden;
}
.mighty-slideshow .more-slideshows li{
	float:left;
	width:112px;
	padding:0 2px;
	text-align: center;
}
.mighty-slideshow .more-slideshows h4{
	padding:0 10px;
	line-height: 16px;
}

.mighty-slideshow .mighty-slideshow-prev,
.mighty-slideshow .mighty-slideshow-next{
	float:left;
	width:18px;
	height:82px;
	background-color: #dedede;
	text-indent: -10000px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAcCAYAAAB75n/uAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MTlENjdDRjdDNEM5MTFFMEIxRkRGQURFMzRGM0ZCN0EiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MTlENjdDRjhDNEM5MTFFMEIxRkRGQURFMzRGM0ZCN0EiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoxOUQ2N0NGNUM0QzkxMUUwQjFGREZBREUzNEYzRkI3QSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoxOUQ2N0NGNkM0QzkxMUUwQjFGREZBREUzNEYzRkI3QSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pq4PTxwAAADDSURBVHjatJWxDcIwEEUNqSJlhlTMkJZVMkD2SIWEFClLpKJiDNpsQJUWier4h84dofL70nPpJ9nn72Rmi6hFIvDF8xAtKfA8RUcKPC/Rk4KckRZ4bqIhBZ6ZFEyiIgRvMVB3sIkzNUWrOFHv4F5iYvYE1xKXucfhawFzTHBIQS2WBJ19G18AsnkX1W+EoI/KN0Iw/iq0Ehs3Ue1GCeZ/fV9CUEW1Y4LMEFWPCVJU/UYKUlT+SgryZPkXYGSbVuLyEWAAkwUmJeSgssQAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	cursor:pointer;
}
.mighty-slideshow .mighty-slideshow-prev{
	margin:0 6px 0 9px;
	background-position: -12px 18px;
}
.mighty-slideshow .mighty-slideshow-next{
	margin:0 8px 0 6px;
	background-position: 6px 33px;
}


.mighty-slideshow .mighty-slideshow-header{
	background-image:url(data:image/gif;base64,R0lGODlhmQAVAPcAAO7y8YKnnsbV0r7NyUV+cFaJfcjW0x5kU6W+uPDu7uHo5oWpoSpsXCRoWFGGem2Zj/Pv8OLl5WWUiTx4avXw8Tp3aaG8ttHa2LrOyZe1rp25svLv77zPy8HSzmiVi93i4SttXdHd2kF8boero/Tw8tvg3zFxYu3q69zl4vL09KjCvNnf3SJnVtTg3rPHwqbAusrY1MXSz9ji4PPw8eXn5jZ0ZnWelHGckrnKxq/GwSdqWvXy84qtpNbe3NTc2trk4lyOgsza18LSzpazrIyuptri4Ju4sXiflk+FebfLxuTq6K7Fv/Dt7pCxqfL08zVzZfb09XqimX2lm1qMgJ27tBlhULHIw2WTiMHPy3+lnEuCdU2Ed9/n5fby8y5vYL/QzUiAc6C7tZi2sOrp6qjAupe2rliLf36jmqrEvqzDvidqW+ru7T96bGCQhfb09pKyq0Z/ceHk5G+Zj8PQzGqYjfT29efs60yDduLq546vp3mgl46up2OSh3CbkfDs7enu7Yytpc7b2JGyql6QhWCRhvHw7yhrW5Syq46wqOjs7Ozr6+jq6ebr6uXq6eTr6tPe3CBmVTh1Z7fJxLXJxEN9cGGShmKRhqO9tzt3aXOdk16Pg/X19e3t7e7u7uvr6/T19PT09O/t7fLz8+rq6u7s7enp6fDw8O7t7ejo6CBlVbXKxfLy8vDy8vT19erp6fHx8efo6PX29iFmVuzs7O3s7PPz8/Hz8urr6+/v7/Hz8yJnV+jp6eno6GOTiO7v7jNyY+zv7uvq6uvq6+/s7TBwYSNoWO/u7/Hv8PHy8VOIfODj4iVpWSZpWu7s7Pbw8fLz8rfMx+3u7fDx8PHy8rPJxPPz8jRyY/Tx8vX09PX19Onq6u3w8O/t7vbz8y9vYOrq6XSckrzMyGSSh8DRztDZ18PRzeTp6KC6s5SzrCNoVyRnV+jp6Onp6Ozt7Ed/cvXx8u7v7+/u7omro7bKxevw8Nrj4cPTz8jU0VOHe+rt7HeglRhfT5KwqZKxqvDx8fb29iH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjAgNjEuMTM0Nzc3LCAyMDEwLzAyLzEyLTE3OjMyOjAwICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5QTk5NzBBOEM0RDQxMUUwQjFGREZBREUzNEYzRkI3QSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5QTk5NzBBOUM0RDQxMUUwQjFGREZBREUzNEYzRkI3QSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjE5RDY3Q0Y5QzRDOTExRTBCMUZERkFERTM0RjNGQjdBIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjE5RDY3Q0ZBQzRDOTExRTBCMUZERkFERTM0RjNGQjdBIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAAJkAFQAACP8A/wkcSLCgwYMIEypcyHCgDBj2InboYE8GMIa2BGTIgEiQoCSMbC0MEqYJIiMIAuUaiCDLl4kTI9oTApOmlUz/UuS5wmYCJjB0YBTsQAcMpgkiPCyp88/WiDZHJzhY8KggBz1aKkyoJAXAv3p9wEyYQKCA2QJ3KphII7DeES1jwZwtsEWrEYF/PNSdwAaIB7oOxNRLOM/MFg8jDmXZEmkLETwJeVDSlAfdFB3ulAzsc2ACvrNi2Tg4e2eClzamZp3yJI6Fl3lrCH7i5GmGBkMNbPxr9Q+Zp2MfkDR4UpVgLE6K3i3RtWUbq1ymhM144WUZoB2jSgW70ATSpX+cRs3/SAMilTwonlyN6jGCgZh/pkbBKgemARtYtGi4AMOci0FgmRzgwQXHHMMEN6FMAsYBcBhgUDY2NKDCDExsgIsgkLTwTwIliFBAOHF4UgouAUDCBoGljHKBBk8s8M8mo1CQRwMVKHCQKQmU80QDVhD0iitM2CALAQiZMgw5NWRBkDHDlFOBDjm8aIontPzTxl3gjfFBDQe8INArnpywQyYBCITLGO/YkAoBsRQyBgk+EKCLGawQxEgbB4xA0CadsAOBDw7oUkEgmwy0STjLSCAQKJ7wUosZiPzTDQIi+CcQJ8PIowsYdvwjjSeKQBGFFAKZskEGamBiqUHXYPHEMtAU/8SJM1mkYkZCx6wAByAFkXKBCAxQQxAn/6jQ44uKlFCDIWgQNAoU0BAxUCfOHJHKFgI5IV4/y6ghbKl9VKGoQauUsoEBkTQABiMDzTBCKk0Yeks30KjwDwQccEAQKKFoege7AnXyTwff/QPKBkOoMYEMCLX66iSyUnBGKm2IgtApswzSR68luAOCvQO98g8eTgi0SbI1ECPtQKYY809sAVNwhH3/xALfBpIQw8AbFv9DHgNCHbQKLxsswIwObwhUCwRZyCKHzUqvAsAf/0Rj0Cf96oLEDwM5sQk9PR+c8ASDHeTwMqpEPDEhPRu0Gh8rD0SKriA0m9DJynqBzkKdyP/cACW8/bMKEzj8skwYL5bSBgv4BH7QLEzE8IQhlGwDHhOH6OAFBm0vhLWmSDCMkNgKc31QF3O8mvawEqfC9sW39PIeQXPDUfdQBSObd9IEcdABQX3PDLhAq0CwBAgNID4DDNY0kEXnBa0SDA1TNOANw9IogmSqaMDsedZbJ0Q6JjLYwsr554sExQCGrz4QJ62/ftApsZfRK91REuQB4iaj7AWWm8kA8PxGgMDVIgFH0EUNULAhC4BAFghYyCwgoAdmNEBf/yhFM9DBAAZ4Qw4wSMH3QGe6g4iNAcTQRCZuwMIWPoAOyfCCIdx3qfhBbyD064X9aEc3OSDAAmI4hx7/KnAs3dUABA94gQWoYIQAVEADA5zZBGomkEvoQA0F24A8GGAIDCwkGhsABAPUQap/dMIVpyCCGtRgiApQ4SIJ+ZzWSmiQE6awD3LIox7lAI4peGOGaktFJW4okBzuUG66MkRSPKAJfNTAG0XE2xHh4AEPACEZFfACFKcls1Tc4R9OwMADGOCOF9hsaWcwhBpU8AmFRMMPl/BCA/QQOF+4YhaXIIAhQKCDByQijuCjY0HEZohI+GATO0imMq+xiXu0T22yKIBI5ucJCRxSILVrwBD+cQ0IKMIAW1iCoVAmizz8YwcQGEURkABAM3YSDv9IgiWykIZfCqQdTNhiAxaw/5KEHBABXtCFBQoVMKL1IApeYIAuojDNqwVTfAhTQwVWVZAZuAptatMFPBESj0W0QYA8hMMy5vGPWjTqHwGIV/+UdYD8wcMV/xiBIKKYCkooQhu+MIgpmIAAEDCgEv1MCAn2YIhfgGwgqxiFIpqRhgkYggECQIgcwze6iGKCgWa7KA3BQ4FaUQJXPUCCBe4HBwZYgaCeKIQSsGpEBnjJTJtogY04aS0wKIQW5PiFF2rgvRvJjAVsCIRBjlMKEsxjR1Gok0NJCNGxiY5VWi1IJyDADx1UwEEH6QYWajAOsoLgrSYriCSJwQO+yUwWdk3IKFAhAWaAIIIJKUQECnCAB/8MRAHTIIg/SkGLPsyprwOZqjD3FVGyNSyy+0qAC0xgiNwVpBvymAD0SFECMNzubv7jXUKCZx+CHsQTfpCECZjhAGQkpAs5YIAXHtsEtjiLBPw4ABDgWBDhQhRVExiuQK4xhxosIwkGEUYE+LMFrxiEHNbQU0ESAAM2XBchJ9uSF655EO5uFCGvQEUCFqALQyyglQehQTIOsDJQ/MMIYAgqfIa6jwUQEms80IUD9DsQNwCiGMZFCBa8oQNxFmQUoSiDDgwhAc0QZAVmEEEjDNKNckQCBOZUyAZ68KpNJuQaCaCDLBxgYIT4Ygw00IPmeNCpgijAAwdQkkCe0YUkyAL/HYWy2SbigAQvlO0g79CHLrRgjoQ0ggxskMU+BUBfgbCCA3xIBQsKYAAueNcUYyhFAMqzhSYIIATjyMMEKhACgwBAAA/QBXMwoABCAuMeciiGLNwBg0Ao1iBFEMMvdAECIxA6IZ4IhiuMgAkdJIMDKFgDAFjxAjAQo53PIAU5IpEOIgQBBbG4wBUYcAnHESQFPbBAJFiwDDHYA7gvysMdLCGBK9ABCEYo2UBU4ABClJsOhIhC52YxBkUs4QET0BkDnkCAANizIC9wgCWuIAE6PGAKnTZIGPDBhytcwQN00ETQCmIHCQCBD+8uABVM7GVXJKAHgCgAASKhBS2A4Q4BlyjOQGKRHTLwgQAmEIE7CDCFLyQkDXfgQ8Ml8IA2xM1MpVDGB3aBilL8QwFUE8gnPBGHD8ACFbB4RQrKTJApMWEWPojBAAZggD5fTRFCR4XYcfEPR4iwIKcQOtFhQSwu5LYg1VjHCmhA9F1gwxFdxjCVZkADH5QjHOG4x5KF9o0ECCPrgA8BUxBCizis4Omw0MbI8lGQgAAAOw==);
	background-position: 10px 15px;
	background-repeat: no-repeat;
	background-color: #f6f6f6;
	padding-left:172px;
	width:126px;
	height:47px;
	cursor: pointer;
}
.mighty-slideshow .mighty-slideshow-header h1{
	color: #4A4A4A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 52px;
}