.breaking-news {
	background-color: #F6F6F6;
	border: 1px solid #ccc;
	display: block;
	padding: 5px;
	width: 300px;	
	}
	
.breaking-news .articles ul li {
	list-style-type: none;
	border-bottom: 1px dashed #000;
	margin-bottom: 10px;
}

.breaking-news .articles ul li h2{
	color: #4A4A4A;
}
