body .mighty-breakingnews {
	background-color: #F6F6F6;
	border: 1px solid #ccc;
	display: block;
	margin: 5px 0;
	padding: 5px;
	width: 300px;	
}
.mighty-breakingnews h2.header {
	background: url("../../images/mostpopular/huffpost.png") no-repeat scroll 0 50% transparent;
	font-size: 18px;	
	color: #4A4A4A;
	margin-bottom: 5px;
	padding-left: 160px;		
}

.mighty-breakingnews .articles ul.article-list li {
	line-height: 1;
	list-style-type: none;
	border-bottom: 1px dashed #000;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.mighty-breakingnews .articles ul.article-list li h2{
	color: #4A4A4A;
	font-size: 30px;
	padding-bottom: 5px;
}

.mighty-breakingnews .articles ul.article-list li a {
	color: #4A4A4A;
	font-size: 12px;
	text-decoration: none;
}

.mighty-breakingnews .articles ul.article-list li span.comments{
	color: #4A4A4A;
	display: block;
	font-size: 11px;
	margin-top: 5px;
}
span.comments b {
	font-size: 11px;
}

.mighty-breakingnews img.thumb {
	width: 300px;
}
.mighty-breakingnews-footer {
	overflow: hidden;
}
.mighty-breakingnews-footer .more-news {
	color: #4A4A4A;
	float: left;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.mighty-breakingnews-footer .refresh-news {
	background: url("../../images/refresh.png") no-repeat scroll left center transparent;
    cursor: pointer;
    float: right;
    font-size: 9px;
    padding-left: 20px;
    text-transform: uppercase;
}
